body{
    direction: rtl;
    font-family: tahoma,geneva,sans-serif;
    font-size: 12px;
}

.inputDiv{
    height: 30px;
}
.inputDiv label{
    float: right;
    width: 200px;
}

.inputDiv input, .inputDiv button{
    float: right;
}

#control{
    margin-right: 100px;
    margin-top: 50px;
    float: right;
    width: 400px;
}

#stats{
    margin-left: 100px;
    margin-top: 50px;
    float: left;
    width: 700px;
    height: 370px;
    background-color: #DDD;
}

.integer{
    width: 100px;
    direction: ltr;
}

.fileUpload{
    display: none;
}

.command{
    width: 400px;
}