<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <welcome-file-list id="WelcomeFileList">
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.jws</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>messages/messages</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
        <param-value>fa</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/spring/bnmstest-context.xml</param-value>
    </context-param>

    <servlet>
        <servlet-name>mainServlet</servlet-name>
        <servlet-class>com.bourse.nms.web.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainServlet</servlet-name>
        <url-pattern>/index.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>commandServlet</servlet-name>
        <servlet-class>com.bourse.nms.web.CommandServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>commandServlet</servlet-name>
        <url-pattern>/command.do</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

</web-app>
